<!--  Formulario Recuperar-->
<section data-content id="form-recuperar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
                <h3>Recuperar Contraseña</h3>

                <form action="submit" id="passRecoveryForm">

                    <div class="mb-3 mt-3">
                        <label for="rec-email">Correo:</label>
                        <input type="email" class="form-control" id="rec-email" name="rec-email" data-val="email">
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="rec-username">Nombre de Usuario:</label>
                        <input type="text" class="form-control" id="rec-username" name="rec-username"
                            data-val="required">
                    </div>

                    <a type="menu" class="btn btn-danger" href="index.html">Volver</a>
                    <button type="submit" class="btn btn-primary">Enviar</button>

                </form>
            </div>
        </div>
    </div>
</section>