<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['catalogo']" [queryParams]="{sale: true}">
            <img src="/images/logo_nav.png" alt="Avatar Logo" id="bar-logo" [class]="logoClass">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="navbar-nav w-100">
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{sale: true}" id="home">
                        <i class="bi bi-house mx-2"></i>Inicio</a>
                </li>
                <!-- <li class="nav-item  mx-2">
                    <a class="nav-link" data-target="ofertas" onclick="display(this)">
                        <i class="bi bi-tag mx-2"></i> Ofertas</a>
                </li> -->
                <li class="nav-item  mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{ category: 1}">
                        <i class="bi bi-bag mx-2"></i>Guitarras Acústicas</a>
                </li>
                <li class="nav-item  mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{ category: 2}">
                        <i class="bi bi-bag mx-2"></i>Guitarras Electroacústicas</a>
                </li>
                <li class="nav-item  mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{ category: 3}">
                        <i class="bi bi-bag mx-2"></i>Guitarras Eléctricas</a>
                </li>
                <li *ngIf="isAuthenticated && ! isAdmin" class="nav-item  mx-2 ms-auto">
                    <a class="nav-link" [routerLink]="['/cart']">
                        <i class="bi bi-cart-dash mx-2"></i>Mi Carrito</a>
                </li>
                <li class="nav-item mx-2 ms-auto dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-person mx-2"></i>Usuario</a>
                    <ul class="dropdown-menu">
                        <li *ngIf="!isAuthenticated"><a class="dropdown-item" [routerLink]="['/user/login']"><i class="bi bi-arrow-right mx-2"></i>Ingresar</a></li>
                        <li *ngIf="!isAuthenticated || isAdmin"><a class="dropdown-item" [routerLink]="['/user/register']"><i class="bi bi-plus-lg mx-2"></i>Crear Cuenta</a></li>
                        <li *ngIf="!isAuthenticated"><a class="dropdown-item" [routerLink]="['/user/recovery']"><i class="bi bi-question mx-2"></i>Recuperar Contraseña</a></li>
                        <!-- <li *ngIf="isAdmin"><a class="dropdown-item" [routerLink]="['/user/login']"><i class="bi bi-gear-wide mx-2"></i>Administrar</a></li> -->
                        <li *ngIf="isAuthenticated"><a class="dropdown-item" (click)="salir()"><i class="bi bi-arrow-left mx-2"></i>Salir</a></li>
                    </ul>
                  </li>
            </ul>
        </div>
    </div>
</nav>