<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['catalogo']" [queryParams]="{sale: true}">
            <img src="/images/logo_invtr.png" alt="Avatar Logo" style="width:40px;" id="bar-logo" [class]="logoClass">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="navbar-nav w-100">
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{sale: true}" id="home">
                        <i class="bi bi-house mx-2"></i>Inicio</a>
                </li>
                <!-- <li class="nav-item  mx-2">
                    <a class="nav-link" data-target="ofertas" onclick="display(this)">
                        <i class="bi bi-tag mx-2"></i> Ofertas</a>
                </li> -->
                <li class="nav-item  mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{ category: 1}">
                        <i class="bi bi-bag mx-2"></i>Guitarras Acústicas</a>
                </li>
                <li class="nav-item  mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{ category: 2}">
                        <i class="bi bi-bag mx-2"></i>Guitarras Electroacústicas</a>
                </li>
                <li class="nav-item  mx-2">
                    <a class="nav-link" [routerLink]="['catalogo']" [queryParams]="{ category: 3}">
                        <i class="bi bi-bag mx-2"></i>Guitarras Eléctricas</a>
                </li>
                <li class="nav-item mx-2 ms-auto">
                    <a class="nav-link" data-target="login" onclick="display(this)">
                        <i class="bi bi-person mx-2"></i>Mi Cuenta</a>
                </li>
            </ul>
        </div>
    </div>
</nav>