<section data-content id="prod-edit">
    <form action="submit" class="container">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-9 col-md-6 col-xl-3 mx-auto ">
                <div class="card mt-4">
                    <img [src]="product?.image" width="90%" id="prod-img">
                </div>
            </div>
            <div class="col-sm-9 col-md-10 col-xl-9 mx-auto">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 mt-3">
                            <label for="prod-id">ID</label>
                            <input type="number" class="form-control" id="prod-id" name="prod-id" [(value)]="product!.id" disabled readonly>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="prod-name">Nombre</label>
                            <input type="text" class="form-control" id="prod-name" name="prod-name" data-val="required" [(value)]="product!.name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="prod-brand">Marca</label>
                            <input type="text" class="form-control" id="prod-brand" name="prod-brand"
                                data-val="required" [(value)]="product!.brand">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="prod-category">Categoria</label>
                            <select class="form-select" id="prod-category" name="prod-category">
                                <option value="1">Guitarras Acústicas</option>
                                <option value="2">Guitarras Electroacústicas</option>
                                <option value="3">Guitarras Eléctricas</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 mt-3">
                            <label for="prod-price">Precio Normal</label>
                            <input type="number" class="form-control" id="prod-price" name="prod-price"
                                data-val="required" [(value)]="product!.price">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="prod-stock">Stock</label>
                            <input type="number" class="form-control" id="prod-stock" name="prod-stock"
                                data-val="required" [(value)]="product!.stock">
                        </div>
                        <div class="mb-3 mt-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="prod-onsale"
                                    name="prod-onsale" [(checked)]="product!.onSale">
                                <label class="form-check-label" for="prod-onsale">
                                    En Oferta
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="prod-saleprice">Precio Oferta</label>
                            <input type="number" class="form-control" id="prod-saleprice" name="prod-saleprice"
                                data-val="required" [(value)]="product!.salePrice">
                        </div>
                        <div class="mb-3 mt-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="prod-available"
                                    name="prod-available" [(checked)]="product!.available">
                                <label class="form-check-label" for="prod-available">
                                    Disponible
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </form>
</section>