.precio-antes {
    color: red !important;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 0.8rem;
}

.precio-oferta {
    color: #5a5967;
    font-weight: bolder;
    font-size: 1.3rem;
}


.card {
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 0 0 15px rgba(33, 33, 33, .3);
}

.chart-img{
    max-width: 100px;
}



section {
    margin-top: 0;
}